<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style>
    body{
		min-width: 1000px;      
  		width:1000px;
		font-family: SimSun;
		background-color:#fff;
		word-break:break-all; 
		word-wrap : break-word;
		overflow:auto;
		}
	.font{
		 font-siz:20px;
		 color:#03F;
		}	
	</style>
<title>测试文档</title>
</head>

<body style = "font-family: SimSun;" > 
    <h1>测 试 文 档</h1>
    姓名: ${username}<br />
    id: ${idnum}<br />
    <p class="font">Hello everyone ! Here is 《测试协议》</p>

</body>
</html>
